a
{
	color: #22BCE0;
}
body
{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
}
footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;

}
footer p:first-child 
{
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;
}
footer p:last-child:before
{
	content: "- "
}
footer p:last-child:after
{
	content: "- "
}
header
{
	
	background: #343b54;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
 }
 header figure
 {
 	float: left;
 }
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 0;

}

header #avatar
{	
	margin: 0.5em 1em 0 0;
	position: absolute;
	top:0;
	right: 0;

}
header #avatar img
{	
	border-radius: 50%;
	width: 55px;

}
 header  #logo img 
 {
 	border-right: 1px solid white ;
 	padding-right: 0.5em;
 	margin-right: 0.5em;
 	width: 52px;

 }
 nav
 {
 	background: #80BCA3;
 	position: relative;


 }
 nav ul 
 {
	list-style: none;
	margin: 0;
	padding: 0;

 }
 nav ul #publicar_nav
 {
 	position: absolute;
 	top: -0.8em ;
 	right: 0;
}
nav ul #publicar_nav a
{
	background: #22BCE0;
	border-radius: 5px;
	padding: 0.8em 0.5em;
	text-decoration: none;
	font-style: italic;
	text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;

	
}
 nav ul li 
 {
 	display: inline-block;
 	margin: 0 1.2em 0 0 ;
 }
 nav ul li a
 {
 	color: white;
 	display: block;
 	padding: 0.5em 0;

 }

