a
{
	color: #22BCE0;
}
body
{
	background: #EEEEEE;
	font-family: Arial;
	/* De acuerdo con EM, es el tamaño fijo de la letra, 2em equivaldría a 32px y 1.5em equivaldría a 24px */
	font-size: 16px;
	font-weight: normal;
}
footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;

}
footer p:first-child 
{
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;
}
footer p:last-child:before
{
	/* Espacio antes, ya que se declara un "antes" */
	content: "- "
}
footer p:last-child:after
{
	content: "- "
}
header
{
	/* Estaba mla el color */
	background: #344b54;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
 }
 header figure
 {
 	float: left;
 }
 /* Sobraba una llave */
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 0;

}

header #avatar
{	
	/* mal declaración de margenes */
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	top:0;
	right: 0;

}
header #avatar img
{	
	border-radius: 50%;
	width: 55px;

}


/* Normalize no te lo hizo, hay que hacerlo, resetear estilos de ésta caja */
header #logo {
	margin: 0;
	padding: 0;
}
/* end */


 header  #logo img 
 {
 	border-right: 1px solid white ;
 	padding-right: 0.5em;
 	margin-right: 0.5em;
 	width: 52px;

 }
 
 nav
 {
 	background: #80BCA3;
 	position: relative;


 }
 nav ul 
 {
	list-style: none;
	margin: 0;
	padding: 0;

 }
 nav ul li 
 {
 	display: inline-block;
 	margin: 0 0.5em 0 0 ;
 	/* Estabas declarando mal los margenes */
 }
 nav ul li a
 {
 	color: white;
 	display: block;
 	padding: 0.5em;
 	/* te faltaba quitar la decoración del link */
	text-decoration: none;

 }

 /* en el ejemplo, esto va después */
 nav ul #publicar_nav
 {
 	position: absolute;
 	/* exageraste tu medida */
 	top: -0.1em ;
 	right: 0;
}
nav ul #publicar_nav a
{
	background: #22BCE0;
	border-radius: 5px;
	/* igual aquí */
	padding: 0.6em 0.8em;
	font-style: italic;
	text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;

	
}

